    <div class="mat-elevation-z8 bookdiv" >  
      <mat-table class="book-table-container" [dataSource]="dataSource" >
        <ng-container matColumnDef="Name">
           <mat-header-cell *matHeaderCellDef  class="headerCell">Name</mat-header-cell> 
          <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Author">
             <mat-header-cell *matHeaderCellDef class="headerCell">Author</mat-header-cell> 
            <mat-cell *matCellDef="let element">{{element.Author}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Edition">
               <mat-header-cell *matHeaderCellDef class="headerCell">Edition</mat-header-cell> 
              <mat-cell *matCellDef="let element">{{element.Edition}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ISBNNumber">
                 <mat-header-cell *matHeaderCellDef class="headerCell">ISBNNumber</mat-header-cell> 
                <mat-cell *matCellDef="let element">{{element.ISBNNumber}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="ReturnDate">
                <mat-header-cell *matHeaderCellDef class="headerCell">ReturnDate</mat-header-cell> 
               <mat-cell *matCellDef="let element">{{element.ReturnDate}}</mat-cell>
             </ng-container>
             <ng-container matColumnDef="IssuedOn">
                <mat-header-cell *matHeaderCellDef class="headerCell">IssuedOn</mat-header-cell> 
               <mat-cell *matCellDef="let element">{{element.IssuedOn}}</mat-cell>
             </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="nodata">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data...
                  </mat-footer-cell>
                </ng-container>
    <mat-header-row *matHeaderRowDef="booksDisplayColumns" class="headerCell">
    </mat-header-row>
    <mat-row class="mat-row-id" *matRowDef="let row; columns: booksDisplayColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['nodata']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
      </mat-table>
    </div> 
    <div>
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
    </div>
  