.hide{
    display : none;
}

.smarttable > table th:first-child, .smarttable > table td:first-child{
    display:none !important;
}

.mainDiv{
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

table tr:nth-child(even) {
    background: yellow;
  }
  table tr:nth-child(odd) {
    background: red;
  }
